/**/
*{
    margin: 0;
    padding: 0;
}
#header {
    box-sizing: border-box;
}

#navbar {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #343a40;
}

#navbar a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

#logo {
    margin-left: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    margin-right: 20px;
    background-color: blue;
}


















/*
.mynav{
    background-color: #343a40 !important;
}

.nav-item > a, .mynav a{
    color: white;
    font-size: 30px;
    margin-right: 20px;
}*/

.corpo{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0% 5px 0px;
    text-align: center;
    background-image: url(../imagens/laptop_programming.jpg);
    background-position: center center;
    background-size: 2500px;
}

.corpo .contt{
    width: 60%;
    margin: 0 auto;
    min-width: 300px;
}

.div-foto{
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid gray;
    transform: rotate(-9deg);
}

.div-foto > img{
    width: 350px;
    transform: translateX(-55px);
}

.contt > h1{
    box-sizing: border-box;
    color:white;
    margin-top: 7px;
    text-transform: uppercase;
}

.nome{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.nome-1{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 0 black;
}

.botao{
    margin-top: 20px !important;
}

#section-projetos{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.div-pro{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 40%;
    max-width: 550px;
    min-width: 350px;
    text-align: left;
    border: 3px solid grey;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    margin: 20px;
    padding-bottom: 10px;
}

.div-pro > img{
    width: 100%;
    border-bottom: 2px solid black;
}

.ggg > .hhh{
    margin-left: 10px;
}

.ggg .btm-link-cod{
    text-decoration: none;
}
footer{
    background-color: #666c74d0;
    text-align: center;
}
.footer-cima{
    padding: 40px 0;
}

.div-contatos{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    width: 350px;
    height: 100px;
}
.div-contatos > h2{
    color: white;
}
.div-contatos .label-1{
    color: white;
    font-size: 20px;
}

.icons-soc1{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: 350px;
}

.icons-soc1 > h2{
    margin-bottom: 20px;
    color: white;
}
.icons-soc1 a{
    box-sizing: border-box;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-size: 28px;
    margin: 0px 6px;
}

.instagram-1{
    vertical-align: top;
    /*overflow: hidden;*/
    background-color: #343a40;
    background-image: url(../imagens/Instagram-logo.png);
    background-size: 47px;
    background-position: center center;
}
.whatsapp-1{
    background-color: rgb(30, 196, 30);
}
.linkedin-1{
    background-color: blue;
}
.github-1{
    background-color: black;
}
.icons-soc1 > a > i{
    margin: auto;
}
.footer-final{
    text-align: center;
    background-color: #343a40;
}
.footer-final > p{
    width: 300px;
    margin: 0 auto;
    padding: 18px 0;
    color: white;
    font-size: 18px;
}

/* 213 linhas */